/*@font-face {
    font-family: 'Shahab';
    src: url('//cdn.font-store.ir/fonts/shahab/Shahab-Regular.woff2') format('woff2'), url('//cdn.font-store.ir/fonts/shahab/Shahab-Regular.woff') format('woff'), url('//cdn.font-store.ir/fonts/shahab/Shahab-Regular.ttf') format('truetype'), url('//cdn.font-store.ir/fonts/shahab/Shahab-Regular.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

p, span, h1, h2, h3, button, a {
    font-family: 'Shahab' !important;
}*/
@import url('http://fonts.cdnfonts.com/css/lalezar');

p, span, h1, h2, h3, button, a,div {
    font-family: 'Lalezar' !important;
}
html {
    font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.field-validation-error{
    color : red;
}